<div class="text-center">
    <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
</div>
<form action="/register/signup" method="post" enctype="multipart/form-data" class="user">
    <div class="form-group row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <input type="text" class="form-control form-control-user"
                   placeholder="First Name" name="firstname">
        </div>
        <div class="col-sm-6">
            <input type="text" class="form-control form-control-user"
                   placeholder="Last Name" name="lastname">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <input type="text" class="form-control form-control-user"
                   placeholder="Username" name="username">
        </div>
        <div class="col-sm-6">
            <input type="email" class="form-control form-control-user"
                   placeholder="Email Address" name="email">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <input type="password" class="form-control form-control-user"
                   name="password" placeholder="Password">
        </div>
        <div class="col-sm-6">
            <input type="password" class="form-control form-control-user"
                   name="repassword" placeholder="Repeat Password">
        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-user btn-block">
        Register Account
    </button>
</form>
<hr>
<div class="text-center">
    <a class="small" href="forgot-password.html">Forgot Password?</a>
</div>
<div class="text-center">
    <a class="small" href="/login">Already have an account? Login!</a>
</div>